@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/fonts/OpenSans-Regular.ttf');
}

nav {
    background: #de0100 !important;
    font-family: 'Open Sans', sans-serif !important;
    width: wrap;
    margin: 0;
}

.div {
    display: inline-block;
}

html,
body {
    background: #f3f3f3 !important;
    opacity: 4;
}

h1,
h2 {
    text-align: left;
    font: 'Regular' 24px/28px 'Open Sans';
    letter-spacing: 0;
    color: #999999;
    opacity: 1;
}

 .table-title{
    color: #999999;
    font: 'Open Sans';
    font-size: 1.2em;
    

 }
 body div{ 
    color: #999999;
    font: 'Open Sans';

    

 }
.container-css {
    width: 90%;
    height: 90%;
}

.logoStyle {
    margin-left: 4%;
}

.list-item {
    background: rgb(255 , 255, 255) 0% 0%;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 3px 3px -5px rgba(0,0,0,0.75);
}


/* width */

div ::-webkit-scrollbar {
    width: 19px;
}


/* Track */

div  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}


/* Handle */

div  ::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}


/* Handle on hover */

 div ::-webkit-scrollbar-thumb:hover {
    background: 0#999999;
}

.text-size-historico {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 32px;
}

.scroll-bar {
    overflow-y: scroll;
    width: 50px;
    height: 500px;
}

.text-size-name {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 64px;
    color: black;
}

.card-body {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 93%;
    box-shadow: 0px 4px 4px -5px rgba(0,0,0,0.75);

}

.setor {
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    color: #ffffff;
    vertical-align: middle;
    min-height: 100%;
 
}

.ts {
    font-size: 32px;
    margin-left: 62%;
    font: Bold 64px 70/64px Arial;
}

ul {
    list-style-type: none;
}

footer {
    background: #212529;
}