@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
	font-family: 'Open Sans';
	src: url('/src/assets/fonts/OpenSans-Regular.ttf');
}

nav {
	background: #de0100 !important;
	font-family: 'Open Sans', sans-serif !important;
	width: wrap;
	margin: 0;
}

.div {
	display: inline-block;
}
html,
body {
	background: #f3f3f3 !important;
	opacity: 4;
}

h1,
h2 {
	text-align: left;
	font: 'Regular' 24px/28px 'Open Sans';
	letter-spacing: 0;
	color: #999999;
	opacity: 1;
}

.container-css {
	width: 90%;
	height: 90%;
}

.logoStyle {
	margin-left: 4%;
}
.list-item {
	background: rgb(223, 221, 221) 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
	margin-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
	width: 19px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999999;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: 0#999999;
}

.text-size-historico {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 32px;
}

.text-size-fila {
	text-align: left;
	font: 'Regular' 24px/28px 'Open Sans';
	letter-spacing: 0;
	color: #999999;
	opacity: 1;
}

.scroll-bar {
	overflow-y: auto;
}

.text-size-name {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 64px;
	color: black;
}

.card-body {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
}

.ts {
	font-size: 64px;
	margin-left: 62%;
	font: Bold 64px 70/64px Arial;
}

ul {
	list-style-type: none;
}

footer {
	background: #212529;
}
