<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <a class="navbar-brand logoStyle"><img src="../../../assets/img/logo-santander-02.png " width="115"></a>
    <p class="ts p-0 mb-0 text-white" id="relogio"></p>
</nav>

<div class="container-css mx-auto">
    <div class="mt-5"></div>
    <div class="row">
        <div class="col-md-8 p-0 m-0 mt-2">

            <div>
                <h2 class=" mb-3">Gerenciamento de fila</h2>
            </div>

            <div class="col-md-12 ">

                <div class="row table-title">

                    <div class="col-md-3 ml-0 pl-0 ">Serviço</div>
                    <div class="col-md-4 ">Nome</div>
                    <div class="col-md-3 ">Chegada</div>
                    <div class="col-md-1 ">&nbsp;</div>
         

                </div>

                <div class="row ">
                    <div class="col-md-12 scroll-bar ">
                        <div *ngFor="let client of listClients | slice:0:15 " class="list-item mt-2 mb-2" >
                            <div class="row ">

                                <div [ngStyle]="{ 'background-color':getColor(client.service)} " class="setor col-md-3 text-center p-3">{{client.service?client.service:'Sem serviço selecionado'}}</div>
                    
                                <div class=" col-md-4 my-auto p-3"> {{client.name}} </div>

                            

                                <div class=" col-md-3 ml-2  my-auto  p-3"> {{client.timestamp | date:'H:mm:ss'}}</div>

                                <div class=" col-md-1 my-auto p-2"> <button class="btn btn-santander " (click)="addToHistorico(client)">Chamar </button></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="col-md-4 p-0 m-0 text-size-fila mt-5 ">
            <div class=" table-title ml-5 mt-3 mb-1">Histórico</div>

            <div class="card-body text-size-fila ml-3 w-100 scroll-bar hist ">

                
                <div *ngFor="let client of listHistorico  " class="text-size-fila d-flex pt-1 pb-1 justify-content-between">

                    <div class="m-0 p-0 text-size-fila text-center ml-3 ">{{client.name}}</div>
                    <div class="m-0 p-0 text-size-fila text-center ml-3 ">{{client.service}} </div>
                    <div class="text-size-fila text-center ml-3 "> {{client.timestamp |date:'H:mm:ss'}} -   {{client.timestamp |date:'d/M/yy'}} </div>

                </div>
            </div>

        </div>

    </div>
</div>


<footer class="col-md-12 fixed-bottom m-0 p-0 footer border-top p-2 ">
    <marquee behavior="alternate " id="day " class="text-white ">{{santander}}</marquee>
    <!-- <button class="btn btn-santander " (click)="sendToken()">Habilitar Token </button> -->
</footer>